<div class="create-sub-container">
  <h1 class="form-header login-fam">Your Code</h1>

  <form method="post" action="/snip/create" id="add-item-form">

    <div class="input-pair">
      <h4 class="login-fam">Description</h4>
      <input type="text" name="description" class="inputfield" id="description" placeholder="Enter description..." required>
    </div>

    <div class="input-pair">
      <h4 class="login-fam">Snippet</h4>
      <textarea type="text" name="code" class="code-area" id="code" placeholder="Enter code snippet..." required></textarea>
    </div>

    <div class="input-pair">
      <h4 class="login-fam">Language</h4>
      <input type="text" name="progLang" class="inputfield" id="progLang" placeholder="Enter programming language..." required>
    </div>

    <input type="submit" class="create-submit login-fam" value="Save &lt/&gt">
  </form>
</div>
