<footer>
  <nav>
    <ul class="footer-ul indexing">
      <li class="li-first">
        <a href="https://expressjs.com/">Express.js</a>
      </li>
      <li>
        <a href="https://ejs.co/">.EJS files</a>
      </li>
      <li>
        <a href="https://www.npmjs.com/package/nodemon">Nodemon</a>
      </li>
      <li>
        <a href="https://www.docker.com/">Docker</a>
      </li>
      <li>
        <a href="https://www.npmjs.com/package/morgan">Morgan</a>
      </li>
      <li>
        <a href="https://mongoosejs.com/">Mongoose</a>
      </li>
    </ul>
  </nav>
</footer>
