<div class="home-sub-container common">
  
  <div id="home-banner">
    <h2 class="subtitle">Welcome to</h2>
    <h1 class="title">SN&lt/&gtPPETS</h1>
    <% if (user) {%>
      <h1 class="subtitle">&lt <%= user %> /&gt</h1>
    <%} else {%>
      <h1 class="subtitle">&lt/&gt</h1>
    <%}%>
  </div>
</div>

