<div class="log-reg-sub-container">
  <!-- ----------------------------------------- LOGIN ----------------------------------------- -->
  <form method="post" action="/user/login" class="user-form">

    <h1 class="form-header login-fam login-colored">Log in</h1>

    <div class="input-pair">
      <h4 class="login-fam">Username</h4>
      <input type="text" name="logUsername" class="inputfield login-fam" id="logUsername" placeholder="Enter username..." required>
    </div>

    <div class="input-pair">
      <h4 class="login-fam">Password</h4>
      <input type="password" name="logPassword" class="inputfield login-fam" id="logPassword" placeholder="Enter password..." required>
    </div>

    <div class="input-pair submit">
      <input type="submit" value="Login" class="log-reg-submit login-fam">
    </div>
  </form>

  <!-- ------------------------------------ REGISTRATION --------------------------------------- -->
  <form method="post" action="/user/register" class="user-form">

    <h1 class="form-header login-fam login-colored">Register</h1>

    <div class="input-pair">
      <h4 class="login-fam">Username</h4>
      <input type="text" name="regUsername" class="inputfield login-fam" id="regUsername" placeholder="Enter username..." required>
    </div>

    <div class="input-pair">
      <h4 class="login-fam">E-mail</h4>
      <input type="text" name="regEmail" class="inputfield login-fam" id="regEmail" placeholder="Enter E-mail..." required>
    </div>

    <div class="input-pair">
      <h4 class="login-fam">Password</h4>
      <input type="password" name="regPassword" class="inputfield login-fam" id="regPassword" placeholder="Enter password..." required>
    </div>

    <div class="input-pair submit">
      <input type="submit" value="Register" class="log-reg-submit login-fam">
    </div>
  </form>

</div>
